{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.page-header {
  background-color: powderblue;
  color: black;
  margin: 15px;
  padding: 15px;
}
* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
</style>
<script>
function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);
  /*create magnifier glass:*/
  glass = document.createElement("DIV");
  glass.setAttribute("class", "img-magnifier-glass");
  /*insert magnifier glass:*/
  img.parentElement.insertBefore(glass, img);
  /*set background properties for the magnifier glass:*/
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
  bw = 3;
  w = glass.offsetWidth / 2;
  h = glass.offsetHeight / 2;
  /*execute a function when someone moves the magnifier glass over the image:*/
  glass.addEventListener("mousemove", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);
  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /*prevent the magnifier glass from being positioned outside the image:*/
    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
    if (x < w / zoom) {x = w / zoom;}
    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
    if (y < h / zoom) {y = h / zoom;}
    /*set the position of the magnifier glass:*/
    glass.style.left = (x - w) + "px";
    glass.style.top = (y - h) + "px";
    /*display what the magnifier glass "sees":*/
    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>

</head>
<body>
    <div class="page-header">
        <h3 style="font-size:15px;">Hello {{name}}</h3>
        {% for message in get_flashed_messages()%}
            {{message}}
        {% endfor%}
        <h1>Metro Lines</h1>
        <div class="img-magnifier-container" style="float:right;margin: -30px 30px 25px 0px">
            <img style="float:right;margin: -30px 30px 25px 0px" id="myimage" src="{{url_for('static',
            filename='subway-map.jpg')}}" alt="Metro Subway" width="800" height="670" >
        </div>
        <p><a href="line1">Line 1</a></p>
        <p style="color:red">Line 2</p>
        <p style="color:red">Line 3</p>
        <p style="color:red">Line 4</p>
        <p style="color:red">Line 5</p>
        <p style="color:red">Line 6</p>
        <p style="color:red">Line 7</p>
        <p style="color:red">Line 8</p>
        <p style="color:red">Line 9</p>
        <p style="color:red">Line 10</p>
        <p style="color:red">Line 11</p>
        <p style="color:red">Line 12</p>
        <p style="color:red">Line 13</p>
        <p style="color:red">Line 14</p>
        <p style="color:red">Line 15</p>
        <p style="color:red">Line 16</p>
    </div>

<script>
/* Initiate Magnify Function
with the id of the image, and the strength of the magnifier glass:*/
magnify("myimage", 3);
</script>


</body>
</html>
{% endblock %}