{% extends "base.html" %}
{% block title %} Register Page {% endblock%}

{%block content%}
<form action="/process" method="POST" >

  <div class="container">
    <h1 style="text-align:left;font-family:verdana;font-size:30px;color:DarkSlateGrey">Register</h1>
    <p style="font-family:verdana;font-size:15px">Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="name" id="name" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" id="password" required>
    <hr>

    <button type="submit" value="Submit">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login">Login</a>.</p>
  </div>
</form>

{%endblock%}


