{% extends "base.html" %}
{% block title %}Line One{% endblock %}
{% block content %}
<html>
<head>
<style>
.page-header {
  background-color: powderblue;
  color: black;
  margin: 15px;
  padding: 15px;
}
</style>

</head>
<body>
    <div class="page-header">
        {% for message in get_flashed_messages()%}
            {{message}}
        {% endfor%}
        <h3 style="text-align:right;font-family:verdana;color:red;font-size:20px">Line code: red </h3>
        <h4 style="text-align:right;font-family:verdana;color:crimson;font-size:15px">Fujin Rd - Xinzhuang </h4>
        <h1 style="margin-top:0em">Yanchang Road Station</h1>
        <p><u>Food Destination</u></p>
        {% for p in place[4:6] %}
        <p><a href="comment/{{p.places_id}}/{{user_id}}">{{p.description}}</a></p>
        {% endfor %}
        <br>
        <p><u>Fancy Attractions</u></p>
        {% for p in place[6:8] %}
        <p><a href="comment/{{p.places_id}}/{{user_id}}">{{p.description}}</a></p>
        {% endfor %}

    </div>



</body>
</html>
{% endblock %}